body{
	font-family: 'Noto Sans JP', sans-serif;
	
	font-size: 18px;
	width: 100%;
}

header{
	font-family: 'Barlow', sans-serif;
}

*{
	box-sizing: border-box !important;
}

.company{
	text-decoration: none;
	font-size: 40px;
	color: white;
}

.BgC{
	background-color: #707E10;
}

.nav-link{
	font-size: 25px;
	color: black;
}

.container-fluid{
	padding-left: none;
}

.nav-item{
	background-color:  #DBEC6F;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: solid 1px #292E08; 
	color: #2B3409;
}

.nav-link{
	color: #2B3409;
}

.nav-item:nth-child(3){
	border-bottom: none;
}

.text-center{
	margin-top: 10px;
}

/*h1.center{
	margin-left: 15px;
}*/

.container-xs, .container-sm, .container-md, .container-lg, .container-xl{
	background-color: #D3E788;
	border: solid 2px #2B3409;
	margin-top: 25px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	max-width: 80%;
	margin-bottom: 35px;
}

p{
	margin: 5px;
	padding: 5px;
	overflow-x: auto;
}
